@use "../abstracts/index" as *;

#contact {
	@include section-container;
	@include flex-center;
	min-height: 80vh;

	@include respond(tablet) {
		min-height: 70vh;
	}
}

.contact-wrapper {
	@include flex-center;
	flex-direction: column;
	margin-bottom: 3rem;

	.section-header {
		@include fluid-type(h1);
	}

	p {
		text-align: center;
	}

	.contact-description {
		margin: 0 0 2.25rem;
		padding: 0 4rem;

		@include respond(tablet) {
			padding: 0 2rem;
		}

		@include respond(mobile) {
			padding: 0;
		}
	}

	.eyebrow {
		margin: 0;
		color: $blue-gray;
		font-family: "Oxanium", sans-serif;
		font-weight: 500;
	}

	a {
		line-height: 1.45;
		min-width: 7.25rem;

		@include respond(tablet) {
			min-width: 6.5rem;
		}

		@include respond(mobile) {
			min-width: 6.25rem;
		}
	}
}
