@use "../abstracts/index" as *;

#contact {
	@include section-container;
	@include flex-center;
	min-height: clamp(550px, 68vh, 700px);
}

.contact-wrapper {
	@include flex-center;
	flex-direction: column;
	position: relative;
	margin-inline: auto;
	box-sizing: border-box;
	padding: 2.75rem 3.25rem 2.5rem 3.25rem;

	@include respond(mobile) {
		padding: 2rem 1.25rem;
	}

	.contact-border {
		position: absolute;
		inset: 0;

		--border-color: #{rgba($mid-jet, 0.6)};
		border: 1px solid transparent;
		border-radius: 0.25rem;

		.contact-border-icon {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);

			background: $rich-black;

			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				font-size: 1.45rem;
				color: $mid-jet;
			}
		}
	}

	.section-header {
		@include fluid-type(h1);
	}

	p {
		text-align: center;
	}

	.contact-description {
		margin: 0 0 2.25rem;

		span {
			font-weight: 500;
		}
	}

	.eyebrow {
		margin: 0;
		color: $blue-gray;
		font-family: "Oxanium", sans-serif;
		font-weight: 500;
	}

	.slide-fill-button {
		margin: 0 !important;
		min-width: 7.25rem;

		@include respond(tablet) {
			min-width: 6.5rem;
		}

		@include respond(mobile) {
			min-width: 6.25rem;
		}
	}
}
