@use "../abstracts/variables" as *;

#about {
	margin-top: 10rem;

	.content {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;

		div {
			width: 40rem;
			background-color: $honolulu-blue;
			padding: 2rem;
			border-radius: 5px;

			h2 {
				text-align: center;
			}
		}
	}

	.tools {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1rem;

		.icon-wrapper {
			display: grid;
			width: 50%;
			grid-template-columns: repeat(4, 1fr);
			gap: 5rem;
		}

		.icon-container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 5rem;
		}
	}
}
