@use "../abstracts/variables" as *;

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	div {
		width: 50%;
		background-color: $honolulu-blue;
		padding: 2rem;
		border-radius: 5px;

		@media (max-width: 1024px) {
			width: 70%;
		}

		@media (max-width: 600px) {
			width: 90%;
			padding: 1.5rem;
		}
	}
}
