.hamburger-button {
	position: relative;
	height: 5rem;
	width: 5rem;
	border: none;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0);
	transition: all;

	&:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}

	.hamburger-span {
		position: absolute;
		height: 0.25rem;
		width: 2.5rem;
		background-color: #fff;
	}

	.hamburger-span:last-of-type {
		width: 1.25rem;
	}
}
