@use "../abstracts/variables" as *;

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	color: $maya-blue;
	position: sticky;
	top: 0;
	z-index: 10;

	.logo-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20rem;
	}

	.navbar-links {
		display: flex;
		gap: 1.5rem;

		li {
			list-style: none;

			a {
				font-size: 1.125rem;
				transition: color 0.2s ease;

				&:hover {
					color: #0077ff;
				}
			}
		}
	}
}
