@use "../abstracts/variables" as *;

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem 0 0;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(7.5px);
	color: $maya-blue;
	position: sticky;
	top: 0;
	z-index: 10;

	.brand {
		display: flex;
		align-items: center;
		justify-content: center;

		.logo-wrapper {
			width: 10rem;
			height: 4rem;
			background-image: url("@/assets/images/logo/logo.png");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}

		.navbar-heading {
			font-size: 2rem;
			font-family: "Oxanium", sans-serif;
			background: linear-gradient(140deg, rgba(33, 118, 174, 1) 70%, rgba(123, 158, 175, 0.4) 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			color: transparent;
			font-weight: 500;
		}
	}

	.navbar-links {
		display: flex;
		gap: 1.5rem;

		li {
			list-style: none;

			a {
				font-size: 1.125rem;
				transition: color 0.2s ease;

				&:hover {
					color: #0077ff;
				}
			}
		}
	}
}
