@use "../../abstracts/index" as *;

.icon-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4.5rem;
	margin-top: 2rem;

	@include respond(desktop) {
		gap: 4rem;
	}
}

.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 3.8rem;
	transition: opacity 0.3s ease;
	cursor: default;

	.icon-label {
		white-space: nowrap;
		color: $blue-ivory;
		@include fluid-type(label);
	}

	@include respond(desktop) {
		width: 3.2rem;
	}

	@include respond(tablet) {
		width: 2.7rem;
	}
}
