@use "sass:color";

$honolulu-blue: #2176ae;
$maya-blue: #73c2fbef;

$rich-black-darker: #001019; // Just a hint darker
$rich-black: #001a23; // Base
$rich-black-light: #021c26; // Slightly lighter
$rich-black-lighter: #031f29; // A touch more light

$jet: #39393a;
$mid-jet: #606062;
$bright-jet: #878789;
$brighter-jet: #adadaf;

$blue-gray: #7b9eaf;
$blue-tint: #c1ced8;
$blue-ivory: #d5dee5;

$soft-light-blue: color.mix(#73c2fb, #f4f9e9, 80%);

$breakpoints: (
	mobile: 480px,
	tablet: 768px,
	desktop: 1024px,
);

$font-sizes: (
	h1: (
		min: 1.7rem,
		fluid: 4.6vw,
		max: 2.85rem,
	),

	h2: (
		min: 1.4rem,
		fluid: 3vw,
		max: 2rem,
	),

	h3: (
		min: 1.1rem,
		fluid: 2.5vw,
		max: 1.5rem,
	),

	p: (
		min: 1rem,
		fluid: 2vw,
		max: 1.25rem,
	),

	header-p: (
		min: 1.05rem,
		fluid: 2.15vw,
		max: 1.3rem,
	),

	header-period: (
		min: 2.125rem,
		fluid: 5.75vw,
		max: 3.56rem,
	),

	label-p: (
		min: 0.9rem,
		fluid: 1.85vw,
		max: 1.25rem,
	),
);
