@use "../abstracts/index" as *;

body {
	margin: 0;
	padding: 0;
	font-size: 1.25rem;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	background-color: $rich-black;
	line-height: 1.6;
	color: $blue-tint;
	color-scheme: light dark;
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scrollbar-width: 2rem;
	scrollbar-color: #555 #1a1a1a;
	-webkit-tap-highlight-color: transparent;
}

main {
	max-width: 1525px;
	margin: 0 auto;
}

button {
	letter-spacing: 0.05em;
}

a {
	all: unset;
	cursor: pointer;
	text-decoration: none;
	letter-spacing: 0.05em;
}

button {
	font-family: inherit;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: inline-block;
	width: 100%;
}
