@use "../abstracts/index" as *;

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 1.25rem;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	background-color: $rich-black;
	line-height: 1.6;
	color: $blue-tint;
	color-scheme: light dark;
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-tap-highlight-color: transparent;
}

html {
	scrollbar-color: $brighter-jet $deep-blue-gray;
	scrollbar-width: auto;
}

main {
	position: relative;
	z-index: 1;

	max-width: 1525px;
	margin: 0 auto;

	&::after {
		content: "";
		position: absolute;

		left: 50%;
		transform: translateX(-50%);

		bottom: -30px;

		width: 100vw;
		height: 160px;

		background: linear-gradient(
			to top,
			rgba($rich-black-darker, 0.9) 0%,
			rgba($rich-black-darker, 0.75) 20%,
			rgba($rich-black-darker, 0.55) 40%,
			rgba($rich-black-darker, 0.3) 60%,
			rgba($rich-black-darker, 0.12) 75%,
			transparent 95%
		);

		@include respond(tablet) {
			height: 140px;
			bottom: -20px;
		}

		pointer-events: none;
		z-index: -1;
	}
}

button {
	letter-spacing: 0.05em;
}

a {
	all: unset;
	cursor: pointer;
	text-decoration: none;
	letter-spacing: 0.05em;
}

button {
	font-family: inherit;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: inline-block;
	width: 100%;
}
