$maya-blue: #73c2fbff; // Accent / Primary
$honolulu-blue: #2176aeff; // Secondary / Buttons
$rich-black: #001a23ff; // Backgrounds / Deep Contrast
$jet: #39393aff; // Text / Body
$ivory: #f4f9e9ff; // Backgrounds / Light Areas
$blue-gray: #7b9eafff; // Mid-tone Neutral
