@use "../abstracts/index" as *;

.other-projects-container {
	@include section-container;
	position: relative;

	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	padding: 1rem;
	margin: 2rem 0;

	height: 400px;

	border: 2px solid rgba($blue-gray, 0.3);
	border-radius: 3px;

	overflow-y: auto;

	scroll-behavior: smooth;
	overscroll-behavior: contain;

	scrollbar-width: thin;
	scrollbar-color: rgba($blue-gray, 0.5) transparent;

	.project {
		background-color: $rich-black-lighter;
		padding: 0.5rem 0.75rem;
		border-radius: 4px;

		h3,
		p {
			margin-top: 0;
		}

		h3 {
			margin-bottom: 0.5rem;
		}

		p {
			margin-bottom: 0.25rem;
		}
	}
}
