@use "../abstracts/index" as *;

.other-projects-wrapper {
	@include section-container;

	.other-projects-divider {
		margin-top: 6.25rem;

		@include respond(tablet) {
			margin-top: 4.25rem;
		}

		@include respond(mobile) {
			margin-top: 3.25rem;
		}
	}
}

.other-projects-container {
	position: relative;

	display: flex;
	flex-direction: column;

	margin: 2rem 0;
	padding: 0 3px 2px 3px;

	height: 400px;

	border: 2px solid rgba($blue-gray, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);

	overflow: hidden;

	.scroll-progress {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: $dusty-olive;
		transform-origin: left;
		pointer-events: none;
	}

	.other-projects-scroll {
		height: 100%;

		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		padding: 1rem;

		overflow-y: auto;

		scroll-behavior: smooth;
		overscroll-behavior: contain;

		scrollbar-width: thin;
		scrollbar-color: rgba($blue-gray, 0.5) transparent;
	}

	.other-project {
		background-color: $rich-black-lighter;
		padding: 0.5rem 0.75rem;
		border-radius: 4px;
		display: grid;
		grid-template-columns: 1fr auto;

		.other-project-content {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			.header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 0.25rem;

				.links {
					display: flex;
					gap: 0.5rem;
					font-size: 1.35rem;
					padding-right: 0.15rem;
				}
			}

			.title,
			.description {
				margin-top: 0;
			}

			.title {
				margin-bottom: 0.5rem;
			}

			.description {
				@include fluid-type(small-p);
				margin-bottom: 0.25rem;
			}

			.technologies {
				display: flex;
				flex-wrap: wrap;
				gap: 0.5rem;

				.technology {
					@include flex-center;
					@include fluid-type(small-label);
					font-family: "Oxanium", sans-serif;
					text-transform: uppercase;
					background-color: rgba($blue-gray, 0.2);
					padding: 0.45rem 0.6rem 0.35rem 0.6rem;
					border-radius: 3px;
					font-weight: 500;
					line-height: 1;
					vertical-align: middle;
				}
			}
		}
	}
}
