@use "../abstracts/index" as *;

#projects {
	@include flex-center;
	flex-direction: column;

	margin: 0 auto;
	width: 60%;

	@include respond(tablet) {
		width: 70%;
	}

	@include respond(mobile) {
		width: 90%;
	}

	.project-heading {
		line-height: 1.07;

		.section-header-wrapper {
			padding-bottom: 0;
		}

		.subheading {
			color: $blue-gray;
		}
	}
}
