@use "../abstracts/index" as *;

#projects {
	@include flex-center;
	flex-direction: column;

	margin: 5.5rem auto 0 auto;

	.project-heading {
		width: 60%;
		line-height: 1.07;
		margin-bottom: 1.5rem;

		@include respond(desktop) {
			margin-bottom: 0;
		}

		@include respond(tablet) {
			width: 70%;
		}

		@include respond(mobile) {
			width: 90%;
		}

		.section-header-wrapper {
			padding-bottom: 0;
		}

		.subheading {
			color: $blue-gray;
		}
	}

	.project-link-icon {
		cursor: pointer;
		transition: color 0.3s;

		&:hover {
			color: $blue-gray;
		}
	}
}
