@use "../abstracts/index" as *;

.project-feature {
	display: flex;
	justify-content: center;
	width: 70%;

	@include respond(desktop-lg) {
		width: 75%;
	}

	.project-links,
	.project-icons {
		z-index: 0;
	}

	.project-icons {
		position: relative;
		display: flex;
		gap: 1rem;
		font-size: 1.55rem;
		padding-left: 0.5rem;
		padding-top: 0.55rem;

		.project-icon {
			color: $blue-gray;
			position: relative;
			cursor: pointer;

			&::after {
				color: $blue-tint;
				content: attr(data-tooltip);
				font-size: 0.94rem;
				position: absolute;
				top: 80%;
				left: 50%;
				transform: translateX(-50%);
				padding: 0.25rem 0.5rem;
				border-radius: 4px;
				white-space: nowrap;
				opacity: 0;
				transition: opacity 0.2s ease;
				z-index: 10;
			}

			&:hover::after {
				opacity: 1;
			}
		}

		.project-icon[data-tooltip="PHP"] svg {
			transform: scale(1.15);
		}
	}

	.project-link-icon {
		cursor: pointer;
		transition: color 0.3s;

		&:hover {
			color: $blue-gray;
		}
	}

	.project-description {
		position: relative;
		background-color: $deep-blue-gray;
		border-radius: 0.25rem;
		padding: 0 1rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
		z-index: 3;

		p {
			@include fluid-type(smaller-p);
			color: $blue-tint;
			line-height: 1.4;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.project-image-wrapper {
		height: fit-content;
		width: fit-content;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
		border-radius: 0.25rem;

		.project-image {
			border-radius: inherit;
			width: 100%;
			height: 100%;
		}

		.image-overlay {
			border-radius: inherit;
			transform: translate(0);
			background-color: rgba($honolulu-blue, 0.275);
		}
	}

	h3 {
		width: fit-content;
		border-bottom: 3px solid $dusty-olive;
		padding: 0 3px 5px 3px;
		white-space: nowrap;
	}

	// Desktop layout

	&.is-desktop {
		.left {
			width: 50%;
			z-index: 1;

			.project-icons {
				width: fit-content;
				transform-origin: center center;
			}

			@include respond(desktop-lg) {
				width: 57.5%;
			}
		}

		.right {
			width: 50%;
			flex-direction: column;
			display: flex;
			margin-top: 4.5rem;
			gap: 1.5rem;
			z-index: 2;

			.project-feature-heading {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 0 1rem 0 1.75rem;

				.project-links {
					display: flex;
					gap: 1rem;
					font-size: 1.5rem;
					padding-right: 0.5rem;
					align-self: flex-start;
				}
			}

			.project-description {
				position: relative;
				width: 135%;
				left: -35%;
				margin-top: -1.5rem;

				@include respond(desktop-lg) {
					left: -50%;
					width: 150%;
				}
			}

			@include respond(desktop-lg) {
				width: 42.5%;
				margin-top: 3rem;
			}
		}
	}

	&.is-desktop.is-reversed {
		.left {
			order: 2;

			.project-icons {
				margin-left: auto;
			}
		}

		.right {
			order: 1;
			align-items: flex-end;

			.project-feature-heading {
				padding: 0 1.75rem 0 1rem;

				.project-links {
					align-self: flex-end;
				}
			}

			.project-description {
				left: auto;
				right: -35%;
			}

			@include respond(desktop-lg) {
				.project-description {
					right: -50%;
				}
			}
		}
	}

	// Mobile layout

	&.is-mobile {
		width: 90%;
		margin: 0 auto;
		flex-direction: column;
		align-items: center;

		.mobile-wrapper {
			width: fit-content;
			@include flex-center;
			flex-direction: column;
			gap: 1.2rem;
		}

		.top {
			@include flex-center;
			flex-direction: column;
			gap: 0.5rem;

			.project-image-wrapper {
				width: 100%;
				max-width: 25rem;
			}

			.project-icons {
				align-self: flex-start;
				padding-left: 1rem;

				.project-icon::after {
					font-size: 0.84rem;
				}
			}

			h3 {
				align-self: flex-start;
				border-bottom: 3px solid $dusty-olive;
				padding-bottom: 0.25rem;
			}
		}

		.bottom {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 0.75rem;

			.project-icons {
				justify-content: center;
				padding: 0;
			}

			.project-description {
				width: 100%;
				max-width: 25rem;
				padding: 0.15rem 1rem;
				top: 0;
				left: 0;
			}

			.project-links {
				padding-right: 0.5rem;
				display: flex;
				gap: 1.25rem;
				font-size: 1.6rem;
				padding-right: 0.25rem;
			}
		}
	}
}
