@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

#aboutContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	.about-section {
		width: 50%;
		padding: 0 2rem;
		border-radius: 5px;

		@include respond(tablet) {
			width: 70%;
		}

		@include respond(mobile) {
			width: 90%;
			padding: 0 1.5rem;
		}
	}
}
