@use "../abstracts/variables" as *;

.hamburger-button {
	position: relative;
	height: 4rem;
	width: 4rem;
	border: none;
	border-radius: 100%;
	background-color: rgba(0, 0, 0, 0);
	transition: all;
	z-index: 10;

	.hamburger-span {
		position: absolute;
		height: 0.25rem;
		width: 2.5rem;
		background-color: $blue-ivory;
	}

	.hamburger-span:last-of-type {
		width: 1.25rem;
	}
}
