@use "../../abstracts/index" as *;

.navbar {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem 0 1.5rem;
	height: 4.5rem;
	--navbar-height: 4.5rem;
	background-color: rgba(0, 29, 38, 0.95);
	backdrop-filter: blur(10px);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	z-index: 25;

	.brand {
		@include flex-center;
		gap: 1.25rem;

		.logo-wrapper {
			appearance: none;
			-webkit-appearance: none;
			border: 0;
			width: 3.75rem;
			height: 3.25rem;
			padding: 0;
			background-image: url("@/assets/images/logo/logo.png");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			background-color: transparent;
			display: block;
			cursor: pointer;
		}

		.navbar-heading {
			font-size: 1.75rem;
			font-family: "Oxanium", sans-serif;
			background: linear-gradient(140deg, rgba(33, 118, 174, 1) 70%, rgba(123, 158, 175, 0.4) 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			color: transparent;
			font-weight: 500;

			@media (max-width: 560px) {
				display: none;
			}
		}
	}

	@include respond(tablet) {
		padding: 0 1rem 0 0.4rem;
	}
}

.menu-wrapper {
	position: fixed;
	top: calc(var(--navbar-height));
	border: none;
	right: 0;
	padding: 1rem;
	width: 14rem;
	max-width: 300px;
	border-radius: 0 0 0 1.25rem;
	background: linear-gradient(0deg, rgba(0, 29, 38, 0.8) 0%, rgb(0, 29, 38, 0.95) 100%);
	box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(10px);
	z-index: 20;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 0.5%;
		width: 100%;
		background: linear-gradient(90deg, $soft-light-blue 0%, rgba(244, 249, 233, 1) 100%);
		z-index: -1;
	}
}
