@use "../../abstracts/index" as *;

.navbar-links-wrapper {
	display: flex;
	align-items: center;
	gap: 1.25rem;

	@media (max-width: 942px) {
		flex-direction: row-reverse;
	}
}

.navbar-links-list,
.navbar-links-hamburger-list {
	display: flex;
	text-transform: capitalize;
	font-size: 1.125rem;
}

.navbar-links-list {
	gap: 1.25rem;
	align-items: center;

	.navbar-link-list-item {
		@include flex-center;
		height: var(--navbar-height);
		padding: 0 0.75rem;
		position: relative;
		transition: background-color 0.4s ease-in-out;
		background-color: transparent;

		a {
			transition: color 0.2s ease;
			cursor: pointer;

			&:hover {
				color: $blue-gray;
			}
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 1%;
			left: 0;
			width: 0%;
			height: 2px;
			background-color: $maya-blue;
		}

		&.active {
			background-color: #39393a40;
		}

		&.active.underline::after {
			animation: drawUnderline 0.4s ease forwards;
		}

		&.no-underline::after {
			width: 100%;
			animation: eraseUnderline 0.4s ease forwards;
		}
	}
}

@keyframes drawUnderline {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

@keyframes eraseUnderline {
	from {
		width: 100%;
	}
	to {
		width: 0%;
	}
}

.navbar-links-hamburger-list {
	flex-direction: column;
	gap: 0.5rem;

	.navbar-link-list-item {
		-webkit-tap-highlight-color: transparent;
		display: flex;
		align-items: center;
		gap: 0.5rem;

		.left-arrow-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2rem;
			height: 100%;
		}

		&.active {
			color: $blue-gray;
		}
	}
}
