@use "../abstracts/index" as *;

.decor-rail {
	position: absolute;
	inset: 0;
	z-index: -1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-block: 8vh;
	pointer-events: none;

	@media (max-width: 1325px) {
		display: none;
	}
}

.decor {
	position: relative;
	width: 9.5rem;
	color: $jet;
	pointer-events: none;

	&.triangle,
	&.hexagon {
		align-self: flex-end;
		margin-right: 0;

		@media (max-width: 1640px) {
			margin-right: 3.25rem;
		}
	}

	&.square,
	&.diamond {
		align-self: flex-start;
		margin-left: 0;

		@media (max-width: 1640px) {
			margin-left: 3.25rem;
		}
	}
}
