@use "../abstracts/index" as *;

.decor {
	position: absolute;
	z-index: -1;
	width: 9.5rem;
	color: $jet;

	&.triangle {
		top: 20%;
		right: -20%;
	}

	&.square {
		top: 20%;
		left: -20%;
	}

	&.diamond {
		bottom: 0;
		right: -20%;
	}

	&.hexagon {
		top: 50%;
		right: -20%;
	}

	@include respond(desktop) {
		display: none;
	}
}
