@use "../abstracts/index" as *;

.decor {
	position: absolute;
	z-index: -1;
	width: 9.5rem;
	color: $jet;
	opacity: 0.085;

	&.triangle {
		top: 15%;
		right: -20%;
	}

	&.square {
		top: 15%;
		left: -20%;
	}

	&.hexagon {
		top: 50%;
		right: -10%;
	}

	&.diamond {
		top: 50%;
		left: -10%;
	}

	@include respond(desktop) {
		display: none;
	}
}
