@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.entry-wrapper {
	@include flex-center;
	height: 100vh;
	width: 100vw;
}

.entry-animation {
	@include flex-center;

	.logo-frame {
		@include flex-center;
		position: relative;
		width: 10rem;
		height: 10rem;
		margin: auto;

		.logo-text-image {
			display: block;
			max-width: 7.25rem;
			height: auto;
		}

		.border {
			position: absolute;
			background-color: $honolulu-blue;
			z-index: 1;

			&.top,
			&.bottom {
				height: 5px;
				width: 100%;
				left: 0;
			}

			&.top {
				top: 0;
			}

			&.bottom {
				bottom: 0;
			}

			&.left,
			&.right {
				width: 5px;
				height: 100%;
			}

			&.left {
				top: 0;
				left: 0;

				&.glow-active::before {
					@include glow-dot(bottom);
				}

				&::before {
					opacity: 0;
					box-shadow: none;
				}
			}

			&.right {
				right: 0;
				bottom: 0;

				&.glow-active::before {
					@include glow-dot(top);
				}

				&::before {
					opacity: 0;
					box-shadow: none;
				}
			}
		}

		@include respond(mobile) {
			width: 8rem;
			height: 8rem;

			.logo-text-image {
				max-width: 5.25rem;
			}
		}
	}
}
