@use "../abstracts/index" as *;

footer {
	background-color: $rich-black-dark;

	.footer-inner {
		width: fit-content;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		padding-bottom: 1rem;

		.info,
		.privacy-link {
			color: $blue-gray;
			margin: 0;
			white-space: nowrap;
			text-align: center;
			font-weight: 500;
			@include fluid-type(small-label);
		}

		p.info {
			line-height: 1;
		}

		.privacy-link {
			@include fluid-type(xsmall-label);
			text-decoration: none;

			&:hover,
			&:focus-visible {
				text-decoration: underline;
			}
		}
	}

	.mobile-links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.75rem;
		margin-bottom: 0.75rem;

		a {
			line-height: 1;
		}

		svg {
			font-size: 1.45rem;
		}
	}
}
