@use "../abstracts/variables" as *;

#root {
	max-width: 100vw;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.25rem;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	background-color: $rich-black;
	color: $ivory;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	all: unset;
	cursor: pointer;
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: inline-block;
	width: 100%;
}
